@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* for browser default margin padding */
* {   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --weebkit-font-smotting:antialiased;  /* for smoothing fonts. */
}

body {
    font-family: "Lato", sans-serif;
}

.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.alignment {
    justify-content: center;
    align-items: center;
}

header .container {
    width: 1540px;
    height: 752px;
    top: 131px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.btn {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    color: #3b4150;
    border: 2px solid #3b4150;
    border-radius: 5px;
}

.navBar {
    padding: 50px;
}

.container .banner {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
}

.container .banner  img{
    margin-top: 45px;
    margin-bottom: 32px;
}

.container .banner  h1{
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 800;
}

.container .banner  p{
    margin-bottom: 24px;
}

.container .banner  button {
    margin-bottom: 45px;
    background-color: #0D1321;
    color: white;
}

.why-container {
    flex-direction: column;
    justify-content: center;
    padding: 80px 100px;
    width: 1140px;
    height: 1393px;
    margin: auto;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 100px;
}

.why-container .titleDiv {
    text-align: center;
    padding: 48px;
}

.why-container .titleDiv h1 {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    padding: 25px;
}

.why-container .titleDiv p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

.why-container .childDiv1 {
    padding: 48px;
    box-shadow: 10px 10px 5px 0px rgba(.05, .05, .05, 0.05);
    flex-wrap: wrap;
    width: 946px;
    height: 336px;
    align-items: flex-start;
}

.why-container .childDivText {
    width: 50%;
}

.why-container .childDivText h2 {
    font-size: 24px;
    font-weight: 700;
    color: #0D1321B3;
    margin-bottom: 30px;   
}

.why-container .childDivText p {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 50px;
}

.why-container .childDivText a {
    text-decoration: none;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
}

.why-container .childDivImg {
    padding: 30px;
}

.why-container .childDiv2 {
    padding: 48px;
    box-shadow: 10px 10px 5px 0px rgba(.05, .05, .05, 0.05);
    width: 946px;
    height: 336px;
}

.why-container .childDiv3 {
    padding: 48px;
    box-shadow: 10px 10px 5px 0px rgba(.05, .05, .05, 0.05);
    width: 946px;
    height: 336px;
}

.ispiration-container {
    width: 1140px;
    height: 775px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.ispiration-container .textDiv {
    margin-bottom: 50px;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.ispiration-container .textDiv h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.ispiration-container .textDiv p {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.ispiration-container .youTubeVideo {
    width: 1140px;
    height: 614px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.ispiration-container .youTubeVideo iframe {
    width: 1076px;
    height: 550px;
}

/* Target Section Starts here */

.target-container {
    width: 1140px;
    height: 460px;
    margin: auto;
    margin-bottom: 100px;
}

.target-container .textarea {
    width: 852px;
    height: 113px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.target-container .textarea h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
}

.target-container .textarea p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.target-container .card-container {
    display: flex;
    justify-content: space-between;
}

.target-container .card-container .card {
    padding: 30px;
    width: 364px;
    height: 299px;
}

.target-container .card-container .card img {
    margin-bottom: 25px;
}

.target-container .card-container .card h1 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 25px;
}

.target-container .card-container .card p {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
    opacity: 0.7;
}

.target-container .card-container .card a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}

.target-container .card-container .card-1 {
    background-color:#FF4C1E0D;
}

.target-container .card-container .card-2 {
    background-color: #004CE80D;
}

.target-container .card-container .card-3 {
    background-color: #FFDF000D;
}

.support-container {
    width: 1140px;
    height: 313px;
    margin: auto;
    border: 2px solid red;  
    margin-bottom: 100px; 
    background-image: url(../assets/handshake.jpg);
    background-size: cover; /* Make the background image fit inside the box */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    background-color: rgba(0, 0 ,0 , 0.5);
    background-blend-mode: overlay;
}

.support-container .text-form {
    width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px;
}

.support-container .text-form h1 {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 30px;
}

.support-container .text-form p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 30px;
}

.support-container .text-form .form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.support-container .text-form .form .input {
    width: 450px;
    height: 57px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
}

.btn-primary {
    width: 120px;
    height: 57px;
    font-size: 1rem;
    font-weight: 600;
    color: #3b4150;
    border-radius: 5px;
    margin-left: 20px;
}

/* input[type="text"] {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 60%;
    padding: 10px 20px;
    border: none;
} */